.DS_Store
*~
\#*
.#*
*.zip
MYMETA*
Makefile
Makefile.old
blib
pm_to_blib
samples/Caporaso_FASTQ_out
samples/Caporaso_FASTA_out
run_all_qiime_tax_commands.sh
samples/Caporaso_GutSamples_out
src/cff2qiime-fixthislater.pl
samples/Caporaso_GutSamples_out-bak
test/Caporaso_*_check.smry.sort.test
logfile
